@import "../../../../styles.scss";

.img {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbtn{
  @include navbtn;
}

.navbtn.navleft{
  &:hover {
      padding-right: $p-sm;
   }
}

