@import "../../../styles.scss";

.footer{
    background-color: map-get($map: $colors, $key: secondary);
    margin: 0px auto;
    padding: $p-sm 0px $p-sm 0px;
}
footer{
    color: white;
}
li a{
    color: map-get($map: $colors, $key: main);
}