@import "../../../styles.scss";

mat-sidenav-container {
    height: 100vh;
}
  
mat-sidenav {
    background-color: map-get($colors, main);
    width: 20rem;
}

.gr {
    color: map-get($colors, main);
    font-size: $font-lg;
}

.card{
    -webkit-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
    box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
}

.navbtn{
    @include navbtn;
}

.navbtn.navleft{
    &:hover {
        padding-right: $p-sm;
     }
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

nav {
  background-color: map-get($colors, nav);
}

mat-icon {
  color: map-get($colors, main);
  align-self: center;
}

.menu-btn {
  border-color: map-get($colors, main);
  overflow: hidden;
  border-radius: 15%;
}

