@import "../../../styles.scss";

.card{
    @include cardShadow;
}

.card-header{
    background-color: white;
    border-bottom: none;
}

.container2{
   @include backgroundImg; 
}

.navbar{
    background-color: white;
}

.signup{
    font-size: $font-xlg;
}
