@import "../../../styles.scss";

.text {
    text-align: center;
    color:map-get($map: $colors, $key: light);
    font-size: $font-xlg;
}
p{
    text-align: center;
    color:map-get($map: $colors, $key: light);
}
.container2{
    @include backgroundImg;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

