@import "../../../styles.scss";

.gr {
    color: 	map-get($map: $colors, $key: main);;
    font-size: $font-lg;
}

.navbar-link {
    color: 	map-get($map: $colors, $key: secondary);
}

nav {
    background-color: map-get($map: $colors, $key: nav);
}
