$colors: (
    main: #33cc66, 
    secondary: #292525, 
    nav: rgb(236, 236, 236),
    light: rgb(252, 251, 250)
);
/** Paddings **/

$p-sm: 3rem;
$p-md: 4rem;
$p-lg: 0.2rem;
/** Margins **/

$m-sm: 1rem;
$m-md: 0.2rem;
$m-lg: 0.2rem;
/** Fonts **/
$font-sm: 1rem;
$font-md: 1.4rem;
$font-lg: 1.8rem;
$font-xlg: 3rem;